<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;text/javascript;charset=utf-8" />
  <title>Suxtape</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" media="screen" />
  <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <link rel="stylesheet" href="/assets/css/page-player.css" type="text/css" media="screen" title="no title" charset="utf-8" />
  <script type="text/javascript" src="/assets/script/soundmanager2.js"></script>
  <script src="/assets/script/page-player.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  soundManager.url = '/assets/swf/';
  soundManager.useHighPerformance = true; // keep flash on screen, boost performance
  soundManager.useFastPolling = true;
  var PP_CONFIG = {
    flashVersion: 9, // version of Flash to tell SoundManager to use - either 8 or 9. Flash 9 required for peak / spectrum data.
    usePeakData: false, // [Flash 9 only] whether or not to show peak data (left/right channel values) - nor noticable on CPU
    useWaveformData: false, // [Flash 9 only] show raw waveform data - WARNING: LIKELY VERY CPU-HEAVY
    useEQData: false, // [Flash 9 only] show EQ (frequency spectrum) data
    useFavIcon: false, // try to apply peakData to address bar (Firefox + Opera) - performance note: appears to make Firefox 3 do some temporary, heavy disk access/swapping/garbage collection at first(?)
    useMovieStar: false,
    autoStart: true,      // begin playing first sound when page loads
    playNext: true
  }
  </script>
</head>
<body>
  <div id="header">
		<div id="nav">
			<% if authorized?  %>
				<a href="/">Play</a>
			<% else %>
				<a href="/admin">Manage</a> | <a href="/">Play</a>
			<% end %>
		</div>
  </div>
	<div id="content">
		<%= yield %>
	</div>
	<div id="footer">
		<!-- control markup inserted dynamically after each link -->
		  <div id="control-template">
		   <div class="controls">
		    <div class="statusbar">
		     <div class="loading"></div>
		      <div class="position"></div>
		    </div>
		   </div>
		   <div class="timing">
		    <div id="sm2_timing" class="timing-data">
		     <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
		   </div>
		   <div class="peak">
		    <div class="peak-box"><span class="l"></span><span class="r"></span>
		    </div>
		   </div>
		  </div>
		  <div id="spectrum-container" class="spectrum-container">
		   <div class="spectrum-box">
		    <div class="spectrum"></div>
		   </div>
		  </div>
		</div>
	</div>	
</body>
</html>
